/* src/app/footer/footer.component.css */
footer a:hover {
  text-decoration: underline;
}

footer i {
  transition: color 0.3s;
}

footer i:hover {
  color: #0d6efd; /* Колір при наведенні (приклад: синій) */
}
