<img src="{{book.bImage}}" class="img-thumbnail" alt="hp">
<p>Name: {{book.name}}</p>
<p>Author: {{book.author}}</p>
<p>Price: {{'$' + book.price}}</p>
<p>Discount Price: {{'$' + getDiscountedPrice().toFixed(2)}}</p>
<p>Year: {{book.year}}</p>
<p>Publisher: {{book.publisher}}</p>
<p>Available: {{book.isAvailable ? 'Yes' : 'No'}}</p>
<p>In Stock: {{book.numberInStock > 0 ? book.numberInStock + ' items left' : 'Not in Stock'}}</p>
<button type="button" class="btn btn-success" [disabled]="!(book.numberInStock > 0)">Success</button>
