<div class="container mt-3">
  <h5>Filter</h5>
  <form>
    <div class="d-inline-flex">
      <div class="form-check me-3">
        <input
          class="form-check-input"
          type="radio"
          id="showAll"
          name="bookFilter"
          value="all"
          [checked]="(selectedFilter$ | async) === 'all'"
          (change)="onFilterChange('all')"
        />
        <label class="form-check-label" for="showAll">
          {{ 'All (' + (totalBooks$ | async) + ')' }}
        </label>
      </div>

      <div class="form-check me-3">
        <input
          class="form-check-input"
          type="radio"
          id="showAvailable"
          name="bookFilter"
          value="available"
          [checked]="(selectedFilter$ | async) === 'available'"
          (change)="onFilterChange('available')"
        />
        <label class="form-check-label" for="showAvailable">
          {{ 'Is Available (' + (availableBooks$ | async) + ')' }}
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="showOutOfStock"
          name="bookFilter"
          value="outOfStock"
          [checked]="(selectedFilter$ | async) === 'outOfStock'"
          (change)="onFilterChange('outOfStock')"
        />
        <label class="form-check-label" for="showOutOfStock">
          {{ 'Out Of Stock (' + (outOfStockBooks$ | async) + ')' }}
        </label>
      </div>
    </div>

  </form>
</div>
