.top-menu-container {
  display: flex;         /* Включає Flexbox для вирівнювання елементів */
  margin-left: 1rem;     /* Зміщує блок праворуч на 1 рем */
  width: 100%;           /* Займає всю доступну ширину */
}
